.network-container {
  margin: auto;
  padding: $spacing-sm;
  border-radius: $spacing-md;
  border-style: solid;
  border-width: thick;
  border-color: $border-colour;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  img {
    width: $network-logo-size;
    height: auto;
  }
  .network-link-container {
    a {
      vertical-align: middle;
      height: max-content;
    }
  }
}
