// .network-container {
//   margin: $spacing-sm;

//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   a {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
//     img {
//       max-height: 100%;
//       width: auto;
//       object-fit: scale-down;
//       bottom: 0;
//     }
//   }
// }

// .network-container:not(.network-Email) {
//   padding: $spacing-sm;

//   a {
//     height: $network-logo-size;
//     width: $network-logo-size;
//   }
// }

// .network-container.network-Email {
//   $email-padding: 0px;
//   padding: $email-padding;

//   a {
//     height: calc(
//       #{$network-logo-size} + 2 * (#{$spacing-sm} - #{$email-padding})
//     );
//     width: calc(
//       #{$network-logo-size} + 2 * (#{$spacing-sm} - #{$email-padding})
//     );
//   }
// }

.network-button-container {
  cursor: pointer;
  margin: $spacing-sm;
  border-radius: $radius-sm;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
}

.network-container {
  position: relative;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: auto;
  overflow: hidden;
  max-width: 66px;

  transition: all 1s;

  .network-title {
    display: none;
    margin: $spacing-sm;
    font-size: $font-size-reg-x;
    font-weight: bold;
    color: black;
  }

  img {
    width: auto;
  }
}

.network-container:not(.network-Email) {
  img {
    height: $network-logo-size;
    margin: $spacing-sm;
  }
}

.network-container.network-Email {
  img {
    height: calc(#{$network-logo-size} + 2 * #{$spacing-sm});
  }
}

.network-button-LinkedIn {
  background-color: #0e76a8;
}

.network-button-GitHub {
  background-color: #767676;
}

.network-button-Facebook {
  background-color: #3b5998;
}

.network-button-Email {
  background-color: #00a2ed;
}

.network-button-Resume {
  background-color: #e1c699;
}

.network-container:hover {
  max-width: 300px;
  transition: all 1s;
  .network-title {
    display: block;
  }
}
