.network-button-container {
  cursor: pointer;
  margin: $spacing-sm;
  border-radius: $radius-sm;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;

  box-shadow: 1px 2px;
  transition: all 1s;
}

.network-container {
  position: relative;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: auto;
  overflow: hidden;
  max-width: 66px;

  transition: all 1s;

  .network-title {
    display: none;
    margin: $spacing-sm;
    font-size: $font-size-reg-x;
    font-weight: bold;
    color: black;
  }

  img {
    width: auto;
  }
}

.network-container:not(.network-Email) {
  img {
    height: $network-logo-size;
    margin: $spacing-sm;
  }
}

.network-container.network-Email {
  img {
    height: calc(#{$network-logo-size} + 2 * #{$spacing-sm});
  }
}

.network-button-LinkedIn {
  background-color: #0e76a8;
}

.network-button-GitHub {
  background-color: #767676;
}

.network-button-Facebook {
  background-color: #3b5998;
}

.network-button-Email {
  background-color: #00a2ed;
}

.network-button-Resume {
  background-color: #e1c699;
}

.network-button-container:hover {
  box-shadow: 0px 0px;
  .network-container {
    max-width: 300px;
    transition: all 1s;
    .network-title {
      display: block;
    }
  }
}
