.contact-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  container-title {
    margin: 0px;
    padding: 0px;
  }
}
