.interest-container {
  margin: auto;
  background-color: $section-background-colour;

  padding: $spacing-xlg;

  overflow-x: hidden;
}

.interest-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: left;

    width: 100%;
  }
  div {
    width: $carousel-size;
    height: calc(#{$carousel-size} + 2 * #{$spacing-tiny});
  }
}

.interest-slide-container {
  height: max-content;
  width: max-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .interest-description-container {
    height: fit-content;
    width: $carousel-size;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: $spacing-md;

    h3 {
      max-width: 100%;
      text-align: center;

      font-size: $font-size-reg;
      font-weight: bold;
    }

    p {
      max-width: 100%;
      text-align: center;
    }
  }

  .interest-image-container {
    height: $carousel-image-width;
    width: $carousel-size;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    img {
      max-height: 100%;
      width: auto;
      object-fit: scale-down;
      overflow-x: hidden;

      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.carousel-indicators li {
  visibility: hidden;
}
