.interest-container {
  margin: auto;
}

.interest-info-container {
  p {
    text-align: center;
    margin-bottom: $spacing-lg;
  }
  div {
    width: $carousel-size;
    height: $carousel-size;
  }
}

.interest-slide-container {
  height: max-content;
  width: max-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .interest-description-container {
    height: fit-content;
    width: $carousel-size;
    justify-content: center;
    align-items: center;

    h3 {
      width: 400px;
      justify-content: center;
    }

    p {
      width: 400px;
      justify-content: center;
    }
  }

  .interest-image-container {
    height: $carousel-image-width;
    width: $carousel-size;
    img {
      max-height: 100%;
      width: auto;
      object-fit: scale-down;
      overflow: hidden;
      bottom: 0;
    }
  }
}

.carousel-indicators li {
  visibility: hidden;
}
