.profile-container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 200px;
  background-color: $profile-background-colour;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  .profile-image-container {
    display: inline-block;
    height: 100%;
    width: auto;

    .profile-background-image {
      -webkit-clip-path: $slanted-frame-polygon;
      clip-path: $slanted-frame-polygon;

      height: 100%;
      width: 100%;
      display: block;
    }
  }

  .profile-text-container {
    padding-left: 6rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .profile-title {
    }

    .profile-info {
    }
  }
}
