.profile-container {
  margin: 0;
  padding: 0;
  width: auto;
  height: $profile-section-height;
  background-color: $profile-background-colour;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  .profile-image-container {
    display: block;
    height: $profile-section-height;
    width: $profile-section-height;

    .profile-background-image {
      -webkit-clip-path: $slanted-frame-polygon;
      clip-path: $slanted-frame-polygon;

      height: 100%;
      width: 100%;
      display: block;
    }
  }

  .profile-text-container {
    padding-left: 6em;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    max-width: calc(100% - #{$profile-section-height});

    overflow: hidden;

    .profile-title {
    }

    .profile-info {
    }
  }
}
