.profile-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: $profile-bar-height;
  background-color: $profile-background-colour;

  .profile-image-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    display: block;
    height: $profile-bar-height;
    width: $profile-bar-height;

    .profile-background-image {
      -webkit-clip-path: $slanted-frame-polygon;
      clip-path: $slanted-frame-polygon;

      height: 100%;
      width: 100%;
      display: block;
    }
  }

  .profile-text-container {
    margin-left: 100px;
    margin-right: $profile-bar-height + 100px;
    padding: 0;
    height: 100%;
    display: block;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .profile-title {
    }

    .profile-info {
    }
  }
}
