.technologies-container{
    margin: 0;
    padding: $spacing-xlg;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    background-color: $section-background-colour;
  
    .container-title {
      width: 100%;
    }

    .technology-photos-container {
      padding: 4px;

      width: 100%;
      min-height: 250px;

      background-color: white;

      display: grid;

      grid-template-columns: repeat(10, 10%);
      grid-template-rows: repeat(5, 20%);

      justify-items: center;
      align-items: center;
      align-content: center;
      place-content: center;


      .technology-logo{
        height: 100%;
        width: 100%;

        text-align: center;
        display: block;
        img {
          object-fit: contain;
          max-height: 100%;
          max-width: 100%;
          height: auto;
          width: auto;
          margin: auto;
        }
      }

      .technology-Auth0{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .technology-AWS{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .technology-Azure{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
      }

      .technology-C{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
      }

      .technology-Cpp{
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;
      }

      .technology-Docker{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .technology-Elasticsearch{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      .technology-Mongo{
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 5;
      }

      .technology-Node{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
      }

      .technology-Postgres{
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      .technology-Python{
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 4;
      }

      .technology-React{
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .technology-Redis{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
      }

      .technology-Typescript{
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .technology-Vue{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;
      }

      .technology-Yarn{
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    }
  }
  