@import "./assets";
@import "./variables";
@import "./components/all";
@import "./containers/all";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-colour;
  min-height: 100%;
}

#root {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
  text-decoration: underline;
  font-size: $font-size-lg;
  color: $title-colour;
}

p {
  text-align: justify;
  text-decoration: none;
  line-height: 1;
  color: $text-colour;
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.app-container {
  background-color: #4863a0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  padding-top: $spacing-xlg;
  padding-bottom: $spacing-xlg;
}
