@import "./assets";
@import "./variables";
@import "./components/all";
@import "./containers/all";
@import "./views/all";

html {
  overflow-y: auto;
  background-color: transparent;
  height: 100%;
}

body {
  margin: 0;
  font-family: "canada-type-gibson", "Rubik", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-colour;
  height: 100%;
  width: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: left;
  font-size: $font-size-lg;
  color: $title-colour;
  font-weight: bold;
}

p {
  text-align: justify;
  text-decoration: none;
  color: $text-colour;
  font-size: $font-size-sm;
  line-height: 1;
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.App {
  font-family: "canada-type-gibson", "Rubik", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.scroll {
	overflow-y: hidden;
}

.scrollbar:hover {
  overflow-y : auto;
}

.scroll::-webkit-scrollbar-track
{
	border-radius: $radius-sm;
}

.scroll::-webkit-scrollbar
{
	width: $spacing-sm;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: $radius-sm;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}