//Spacing
$spacing-xlg: 40px;
$spacing-lg: 24px;
$spacing-md: 16px;
$spacing-sm: 8px;
$spacing-tiny: 4px;

//Specific Spacing
$profile-section-height: 300px;
$section-container-vertical-spacing: 80px;

//Set Sizes
$carousel-size: 600px;
$carousel-image-width: 500px;
$network-logo-size: 50px;

//Radius
$radius-tiny: 4px;
$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 24px;
$radius-xlg: 40px;

//Font size
$font-size-lg: 40px;
$font-size-md: 36px;
$font-size-reg-x: 30px;
$font-size-reg: 24px;
$font-size-sm: 16px;
$font-size-tiny: 8px;

//Colours
$title-colour: black;
$text-colour: black;
$background-colour: #4863a0;
$border-colour: black;
$profile-background-colour: rgb(125, 206, 235);
$interest-background-colour: rgb(125, 206, 235);
$contact-background-colour: rgb(125, 206, 235);

//Misc
$slanted-frame-polygon: polygon(0 0, 101% 0, 101% 101%, 30% 100%);
$blur-effect: blur(4px);
